body{
  background-color: black;
}
#heading{
  font-family: 'Righteous', cursive;
  font-size: 5.2vw;; 
  color: white;
  margin: 0%;
}

#me{
  font-size: 200%;
  margin-top: 0.2%;
  margin-bottom: 0%;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.2vw;
  color: white;

}
#red{
    color: rgb(32, 99, 15);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5vw;
    margin: 0%;
}

#badge{
    position: absolute;
    top: 5px;
    right: 10px;
}
  
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .image {
    border-radius: 50%;
  }
  

  .link1 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: inherit;
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
    color: white;
  }
  
  .link1:hover {
    color: #ec0000;
  }
  
  @media screen and (max-width: 785px) {
    .header1 {
      font-size: 8vw;
    }
    .link1 {
      font-size: 4vw;
    }
  }
  
  @media screen and (max-width: 765px) {
    body {
      text-align: center;
    }
    .header1 {
      font-size: 9vw;
    }
    .header2 {
      font-size: 2.5vw;
    }
    .link1 {
      font-size: 5vw;
    }
  }
  
  @media screen and (min-width: 1390px) {
    .header2 {
      font-size: 1.1vw;
    }
  }
  
